@model webcoso.Models.SanPham

@{ ViewBag.Title = "DetailsAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
    .signup-form {
        background-color: #f3efea;
        padding: 10px 100px;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }

    input.form-control {
        background: #95f0eb2b !important;
    }

    .col-md-10 {
        max-width: 100% !important;
    }
</style>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div style="padding: 4vh 20vw">
                <div class="signup-form">
                    <h3 style="text-align: center; margin-top: 20px; font-weight: bold; color: red;">Chi Tiết Sản Phẩm</h3>
                    <hr />
                    <dl class="dl-horizontal" style="margin-left:20px">
                        <dt>
                            Loại
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LoaiSP.TenLoai)
                        </dd>
                        <dt>
                            Thương hiệu
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ThuongHieu.TenTH)
                        </dd>
                        <dt>
                            Nhóm sản phẩm
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NhomSanPham.TenNhom)
                        </dd>

                        <dt>
                            Tên sản phẩm
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ten)
                        </dd>

                        <dt>
                            Mô tả
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MoTa)
                        </dd>

                        <dt>
                            Giá
                        </dt>

                        <dd>
                            @String.Format("{0:0,0}", @Model.Gia) VNĐ
                        </dd>

                        <dt>
                            Số lượng
                        </dt>

                        <dd>
                            @String.Format("{0:0,0}", @Model.SoLuong)
                        </dd>

                        <dt>
                            Giảm giá
                        </dt>

                        <dd>
                            @String.Format("{0:0,0}", @Model.GiamGia) VNĐ
                        </dd>

                        <dt>
                            Hình
                        </dt>

                        <dd>
                            <img src="@Model.Hinh" alt="thumbnail" width="250" />
                        </dd>

                    </dl>

                    <br />
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }, new { @class = "btn btn-info" }) |
                            <a class="btn btn-success" href='@Url.Action("IndexAdmin", "SanPhams")' style="margin:10px 0px;">
                                Trở về
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>