@model webcoso.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    .col-md-10{
        max-width:100%;
    }
</style>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="d-flex justify-content-center" style="margin-top:5%">
        <h4 class="text-info">
            Bạn đã xác thực thành công bằng <strong>@ViewBag.LoginProvider</strong>.
            Vui lòng điền đầy đủ thông tin
        </h4>
    </div>
    <div style="width: 40%; margin: 20px auto; min-width: 30%; padding: 10px; background-color: #d0bd363b; border-radius: 20px;">
        <div class="form-group">
            <strong class="col-md-2 control-label">Email</strong>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <strong class="col-md-2 control-label">Họ Tên</strong>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <strong class="col-md-2 control-label">Số điện thoại</strong>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <strong class="col-md-2 control-label">Địa chỉ</strong>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Đăng ký" />
            </div>
        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
