@using webcoso.Models
@using GoogleRecaptchaMvc
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    .zoom {
        transition:0.5s;
    }
        .zoom:hover {
            transition:0.5s;
            transform:scale(1.05);
        }
    .link:hover {
        color: #00efff;
    }
</style>
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Đăng Nhập</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="hero-wrap hero-bread" style="background-image: url('/Content/images/banner/laptop-tot-nhat-1638390226558.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">

                <div style="padding: 20px; border-radius: 5px; border: none; background-color: #605b5bc2; ">
                    <div>
                        <section id="loginForm">
                            <div class="col-md-9 ftco-animate text-center" style="margin:0 auto">
                                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
                                <h1 class="mb-0 bread">Login</h1>
                                <h3 style="color:red; text-align:center; padding-top: 20px">@ViewBag.Thongbao</h3>
                            </div>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @style = "width:500px" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-md-offset-1">
                                    <div class="signup-form" style=" display: flex; justify-content: center; flex-direction: column; align-items: center;">
                                        <hr />
                                        @Html.ValidationSummary("", new { @class = "text-danger", @style = "font-size: 14px;" })
                                        <div class="form-group" style="width: 75%; min-width: 60%;">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @style = "height:50px" })
                                        </div>
                                        <div class="form-group" style="width: 75%; min-width: 60%;">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @style = "height:50px" })
                                        </div>
                                        <div class="d-flex justify-content-between" style="margin-bottom:10px; width:75%">
                                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword", routeValues: null, htmlAttributes: new { @class="zoom link" ,@style = "font-size: 14px; text-decoration:none;" })
                                            @Html.ActionLink("Chưa có tài khoản? Đăng ký", "Register", routeValues: null, htmlAttributes: new { @class = "zoom link", @style = "font-size: 14px; text-decoration:none;" })
                                        </div>
                                        <div class="form-group" style="display: flex; align-items: center;">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe, "Ghi nhớ đăng nhập", new { @style = "margin-bottom: unset;margin-left: 10px;font-size:14px;font-weight: 500;" })
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-blue btn-block zoom" value="Đăng nhập" style="background-color: #44c5ee; font-size: 18px; padding:10px 20px;" />
                                        </div>
                                        <div>@Html.RecaptchaV2("6LeJ3jogAAAAAGmMJi3Bzqev9W5Nw_blm8_75lL6")</div>
                                        <div class="text-center">
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-md-offset-1 d-flex justify-content-center" style="width:500px;">
                                <section id="socialLoginForm" class="zoom">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
