@model IEnumerable<webcoso.Models.GioHang>
@using webcoso.Models.LinQ;
@{ AspNetUser kh = (AspNetUser)Session["TaiKhoan"]; }

@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table tbody tr td .info-order {
        font-weight:normal;
        min-width: 150px;
        text-align: right !important;
    }
    table tbody tr td .detail-info {
        max-width:500px;
        font-weight: bold;
        text-align:left !important;
    }
    .modal-body table tbody tr td {
        padding: 10px; 
    }

    .momo {
        color: #af2070
    }
        .momo:hover {
            color: #dbcc8f
        }
    h5 {
        font-weight: 500;
    }
    .btn-back-to-cart {
        background: #e4d6437a;
        color: #f12121c7;
        border-radius: 20px;
    }
        .btn-back-to-cart:hover {
            background: #ead820c7;
            color: #2351cfd9;
        }
</style>
<div class="hero-wrap hero-bread" style="background-image: url('/Content/images/banner/laptop-tot-nhat-1638390226558.jpg'); ">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Đơn</a></span> <span>Hàng</span></p>
                <h1 class="mb-0 bread">Chi tiết đơn hàng</h1>
            </div>
        </div>
    </div>
</div>
<table class="table" style="margin-left:20px;margin-right:20px;font-size:16px;">
    <tr>
        <th>
            <strong>Tên SP</strong>
        </th>
        <th>
            <strong>Hình ảnh</strong>
        </th>
        <th>
            <strong>Giá</strong>
        </th>
        <th>
            <strong>Giảm giá</strong>
        </th>
        <th>
            <strong>Số lượng</strong>
        </th>
        <th>
            <strong>Thành tiền</strong>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size:14px">

            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                <img src="@item.Hinh" alt="Ảnh món ăn" width="40" />
            </td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.MaSP }))
            {
                <td style="vertical-align:middle;">
                    @String.Format("{0:0,0}", item.Gia) VNĐ
                </td>
                <td style="vertical-align:middle;">
                    @String.Format("{0:0,0}", item.GiamGia) VNĐ
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td style="vertical-align:middle;">
                    @String.Format("{0:0,0}", @Html.DisplayFor(modelItem => item.ThanhTien)) VNĐ
                </td>
            }
        </tr>
    }
    <tr style="font-weight:bold;text-align:right;color:red;font-size:18px;">
        <td colspan="2">Tổng số lượng món ăn: @ViewBag.TongSoLuong</td>
        <td colspan="2">Tổng Tiền: @String.Format("{0:0,0}", @ViewBag.TongTien) VNĐ</td>
    </tr>

    <tr style="font-weight:bold;color:yellow;text-align:right;">
        <td colspan="6">
            <!-- Button trigger modal -->
            <button style="padding: 10px 15px" type="button" class="btn text-white btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fa fa-money-bill"></i> Đặt hàng
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="min-width:30vw;color:black">
                        <div class="modal-header">
                            <h5 class="modal-title" style="width:100%; padding-left:50px;color:red;font-weight:bold;" id="exampleModalLongTitle">Đặt Hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @using (Html.BeginForm())
                        {
                            <div class="modal-body">
                                <table align="center" style="font-size: 15px;">
                                    @Html.ValidationSummary(true)
                                    <tr style="height:40px">
                                        <td class="info-order">Họ tên KH: </td>
                                        <td class="detail-info">&emsp; @kh.Name</td>
                                    </tr>
                                    <tr style="height:40px">
                                        <td class="info-order">Email: </td>
                                        <td class="detail-info">&emsp; @kh.Email</td>
                                    </tr>
                                    <tr style="height:40px">
                                        <td class="info-order">Địa chỉ: </td>
                                        <td class="detail-info" style="font-weight: bold">&emsp; @kh.Address</td>
                                    </tr>
                                    <tr style-"height:40px">
                                        <td class="info-order">Điện thoại: </td>
                                        <td class="detail-info" style="font-weight: bold">&emsp; @kh.PhoneNumber</td>
                                    </tr>
                                    <tr style-"height:40px">
                                        <td class="info-order">Ngày đặt: </td>
                                        <td class="detail-info">&emsp; @DateTime.Now.ToShortDateString()</td>
                                    </tr>
                                    <tr style-"height: 40px">
                                        <td class="info-order">Ngày giao: </td>
                                        <td class="detail-info">
                                            &emsp;<input style="color:red;font-weight:600" type="date" name="NgayGiao" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <div style="font-weight:bold;width:100%;padding:5px 40px;height:200px;">
                                    <div>
                                        <h5>Thanh Toán Khi Nhận Hàng</h5>
                                        <input style="font-size:15px;font-weight:500" type="submit" value="Đặt Hàng" class="btn btn-success" />
                                    </div>
                                    <hr />
                                    <h5>Ví Điện Tử</h5>
                                    <div style="display:flex;justify-content:space-between;">
                                        <div>
                                            <a style="margin:10px;" class="primary-btn momo" href="@Url.Action("ThanhToan", "GioHang")"><img src="~/Content/img/momo.png" alt="Momo" width="20" /> Thanh toan MoMo</a>
                                        </div>
                                        <div>
                                            <a class="primary-btn momo" href="@Url.Action("thanhtoancanhan", "GioHang")"><img src="~/Content/img/momo.png" alt="Momo" width="20" /> Thanh toán MoMo nhanh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div><br /><br />
            <div>
                <a href="/GioHang/GioHang" class="btn-back-to-cart py-3 px-4" style="text-decoration:none"><i class="fa fa-solid fa-bag-shopping"></i> Trở Về Giỏ Hàng</a>
            </div>
        </td>
    </tr>
</table>


