@model IEnumerable<webcoso.Models.GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MessageAlert")

<style>
    .btn-cart {
        background: #e4d6437a;
        color: #f12121c7;
    }
        .btn-cart:hover {
            background: #ead820c7;
            color: #2351cfd9;
        }
    .style-btn{
        transition:0.5s;
    }
        .style-btn:hover {
            background: #4dc250 !important;
            color: #ffd00f !important;
            box-shadow: -1px 2px 20px 1px #ffca009e;
            transform: scale(1.05);
            transition: 0.5s;
        }
    .bread {
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
           Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 
           'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
           'Noto Color Emoji' !important;
    }
</style>

<div class="hero-wrap hero-bread" style="background-color: #b9cb431f; ">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Giỏ hàng của bạn</h1>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-cart">
        <div class="container">
            @if (Model.Count() != 0)
            {
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="cart-list">
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr class="text-center">
                                        <th width="70">STT</th>
                                        <th>Hình ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt = 0;
                                        foreach (var item in Model)
                                        {
                                            stt += 1;
                                            <tr class="text-center">
                                                <td>@stt</td>

                                                <td class="image-prod"><div class="img" style="background-image: url(@item.Hinh);"></div></td>

                                                <td class="product-name">
                                                    <h3>@Html.DisplayFor(modelItem => item.Ten)</h3>
                                                </td>
                                                @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @id = item.MaSP }))
                                                {
                                                    <td class="price">
                                                        @String.Format("{0:0,0}", item.Gia) VNĐ
                                                    </td>

                                                    <td class="quantity">
                                                        <div class="input-group mb-3">
                                                            <input type="number" name="txtSolg" class="quantity form-control input-number" value="@item.SoLuong" min="1" max="100" onchange="this.form.submit()">
                                                        </div>
                                                    </td>
                                                    <td class="total" style="color:red;font-weight:bold">
                                                        @String.Format("{0:0,0}", item.ThanhTien) VNĐ
                                                    </td>

                                                }
                                                <td class="product-remove"><a href="@Url.Action("XoaGioHang", "GioHang", new { @id = item.MaSP })"><i class="fa fa-solid fa-trash-can" style="margin-right:10px"></i>Xóa</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="text-right" style="margin:20px">
                                <a class="btn btn-primary py-3 px-4 style-btn" href="@Url.Action("XoaTatCaGioHang","GioHang")">Xoá tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate" style=" border: 3px solid rgb(211 92 92 / 94%); box-shadow: 1px 3px 20px 3px #00b1ff91;">
                        <div class="cart-total mb-3">
                            <h3 class="text-center">Tổng giỏ hàng của bạn</h3>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Tổng Tiền</span>
                                <span style="color:red;font-weight:bold">@String.Format("{0:0,0}", @ViewBag.TongTien) VNĐ</span>
                            </p>
                        </div>
                        <p class="text-center"><a href="/GioHang/DatHang" class="btn btn-primary py-3 px-4 style-btn">TIẾN HÀNH THANH TOÁN</a></p>
                    </div>
                </div>
            }
            else
            {
                <div style="display: flex; flex-direction: column;align-items:center">
                    <br />
                    <div>
                        <img src="~/Content/img/icon-cart.png" alt="thumbnail" width="300" style="margin: auto" />
                    </div>
                    <h2 style="color: #d45353e8; font-weight: 550;">Oops! Chưa có sản phầm nào!</h2>
                    <h2 style="margin: 20px auto">
                        <a class="btn btn-cart py-3 px-4" style="font-weight:550;font-size:14px;" href="@Url.Action("Index","SanPhams")"><i class="icon icon-cart-plus"></i>&nbsp; Mua sắm ngay thôi!!!</a>
                    </h2>
                </div>
            }
        </div>
    </section>

</div>



