﻿@model PagedList.PagedList<webcoso.Models.LinQ.DonHang>
@using PagedList.Mvc;
@{ ViewBag.Title = "DoanhThu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <table class="table table-bordered table-dark">
                <h2 style="margin: 10px; text-align: center; margin-top: 20px; font-weight: bold; color: red;text-transform:capitalize">Doanh thu theo ngày</h2>
                @using (Html.BeginForm("Export", "DonHangs", FormMethod.Post))
                {
                    <input type="submit" value="Xuất Excel" class="btn btn-success">
                }

                <thead class="thead-dark">
                    <tr>
                        <th>
                            Ngày/Tháng/năm
                        </th>
                        <th>
                            Doanh thu
                        </th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    @foreach (var item in Model.GroupBy(y => y.NgayDat).Distinct().Select(g => new
                    {
                        Pla = g.Key,
                        Total = g.Sum(t => t.TongTien)
                    }))
                    {
                        <tr>
                            <td>
                                @item.Pla
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.Total)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style=" margin-bottom:50px;">
                <div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("DoanhThu", new { page = page }))
                </div>
            </div>
        </div>
    </main>
</div>

