@model PagedList.PagedList<webcoso.Models.LinQ.DonHang>
@using PagedList.Mvc;
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }
<style>
    th {
       vertical-align:middle !important;
    }
</style>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h2 style=" text-align: center; margin-top: 20px; font-weight: bold; color: red; text-transform: capitalize;">Danh sách đơn hàng</h2>

            @*<p>
                    @Html.ActionLink("Tạo đơn hàng mới", "Create")
                </p>*@
            <table class="table table-bordered table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Ngày đặt
                        </th>
                        <th>
                            Ngày giao
                        </th>
                        <th>
                            Tên KH
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            Tổng tiền
                        </th>
                        <th style="max-width:115px">
                            Trạng thái giao hàng
                        </th>
                        <th>
                            Trạng thái thanh toán
                        </th>
                        <th>
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    @foreach (var item in Model)
                    {


                    <tr>

                        <!--<td class="checkbox">
    @Html.EditorFor(modelItem => item.TrangThaiGiaoHang)-->
                        @*<a href="@Url.Action("Edit","DonHangs",new { @tt = Html.DisplayFor(modelItem => item.TrangThaiGiaoHang), @id = item.MaDH})">Cập nhật</a>*@
                        @*<input type="submit" id="cbTrangThai" name="cbTrangThai"  class="btn btn-danger" style="zoom: 0.8;" />*@

                        <td style="min-width:115px">
                            @Convert.ToDateTime(item.NgayDat).ToString("dd-MM-yyyy")
                        </td>
                        <td style="min-width:115px">
                            @Convert.ToDateTime(item.NgayGiao).ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Address)
                        </td>
                        <td>
                            @String.Format("{0:0,0}", item.TongTien) VNĐ
                        </td>
                        <td class="checkbox">
                            @if (item.TrangThaiGiaoHang == 0)
                            {
                                <span style="color:orange;font-weight:bold">Đang giao</span>
                            }
                            else
                            {
                                if (item.TrangThaiGiaoHang == 1)
                                {
                                    <span style="color:limegreen;font-weight:bold">Đã giao</span>
                                }
                                else
                                {
                                    <span style="color:red;font-weight:bold">Đã huỷ đơn</span>
                                }
                            }
                            @*<input type="submit" value="Cập nhật" class="btn btn-success" />*@
                        </td>
                        <td class="checkbox">
                            @if (item.TrangThaiThanhToan == true)
                            {
                                <span style="color:limegreen;font-weight:bold">Đã thanh toán</span>
                            }
                            else
                            {
                                <span style="color:red;font-weight:bold">Chưa thanh toán</span>

                            }
                        </td>
                        <td>
                            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaDH }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDH }, new { @class = "btn btn-info", @style = "margin-left:5px" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div style=" margin-bottom:50px;">
                <div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
        </div>
    </main>
</div>

